.answer-buttons {
  position: relative;
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 0 2px black;
}

.answer-button {
  background-color: rgb(230, 227, 98);
  padding: 10px;
  transition: 0.3s ease;
}

.answer-button + .answer-button {
  border-top: 0.5px solid yellow;
}

.answer-button:hover {
  background-color: rgb(158, 156, 28);
  color: white;
}

.answer-button:active {
  transform: scale(0.97);
}

.answer-button:focus {
  outline: 0;
}