.answer-message {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  bottom: 30%;
  text-align: center;
  font-size: 4rem;
  user-select: none;
}

@media (min-width:500px) {
  .answer-message {
    font-size: 5rem;
    bottom: 15%;
  }
}

@media (min-width:800px) {
  .answer-message {
    font-size: 8rem;
    bottom: 0;
  }
}