.score {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background: rgb(238, 238, 238);
  margin:0 auto;
}

.score__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(75, 75, 75, 0.356);
}

.score__header {
  margin-bottom: 5px;
  text-align: center;
}

.score__message {
  text-align: center;
}

.score__button {
  background-color: rgb(77, 182, 87);
  box-shadow: 0 0 2px black;
  height: 50px;
}

.score__button:focus {
  outline: 0;
}

.score__button:hover {
  background-color: rgb(28, 158, 41);
  color: white;
}
